@import-normalize;

:root {
	--clr-accent-dark: hsl(140, 100%, 30%);
	--clr-accent: hsl(140, 100%, 44%);
	--clr-accent-a25: hsl(140, 100%, 44%, 0.25);
	--clr-primary-light: #363636;
	--clr-primary-light-400: #444444;
	--clr-primary: #292929;
	--clr-primary-dark: #242424;

	--bg-primary: #292929;

	--ff-family: 'Montserrat', sans-serif;

	--sidebar-width: 30ch;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	height: 100%;
}

::selection {
	background-color: var(--clr-accent);
}

body {
	min-height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg-primary);
	color: white;
	font-family: var(--ff-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

::-webkit-scrollbar {
	width: 0.4em;
}

::-webkit-scrollbar-track {
	background-color: var(--clr-primary-dark);
}

::-webkit-scrollbar-thumb {
	background-color: var(--clr-accent);
}

/* HEADER */

header {
	display: flex;
}

.todo__logo {
	margin: 1em auto 0;
	font-size: 3em;
	letter-spacing: 0.25ch;
	text-align: center;
	text-shadow: 2px 2px 0px var(--clr-accent);
	transition: text-shadow 150ms ease-in-out;
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	.todo__logo {
		margin-top: 0.5em;
		font-size: 4em;
	}
}

.todo__logo:hover {
	text-shadow: 5px 5px 0px var(--clr-accent);
}

/* LISTS */

.lists__section {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	background-color: var(--clr-primary-dark);
}

@media only screen and (min-width: 768px) {
	.lists__section {
		position: fixed;
		top: 0;
		left: 0;
		max-width: var(--sidebar-width);
		height: 100%;
		overflow-y: auto;
	}
}

@media only screen and (min-width: 768px) {
	.lists__form-container {
		position: sticky;
		top: 0;
		left: 0;
		background-color: var(--clr-primary-dark);
		z-index: 1;
	}
}

.lists__list {
	margin: 0em;
	padding: 0em;
	font-weight: 500;
	font-size: 1.25em;
	list-style-type: none;
}

.list {
	display: flex;
	align-items: center;
	padding: 0.5em 2em;
	font-variant-numeric: tabular-nums lining-nums;
	cursor: pointer;
	transition: background-color 150ms ease-in-out;
}

.list--active {
	background-color: var(--clr-primary-light);
}

.list:hover {
	background-color: var(--clr-primary-light);
}

.list__name {
	margin-right: 0.5em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.list__completion {
	margin-left: auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out;
}

.list__completion--completed {
	color: var(--clr-accent);
}

.list:hover .list__completion,
.list--active .list__completion {
	visibility: visible;
	opacity: 1;
}

/* HEADINGS */

.list__heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.list__icon {
	display: flex;
	align-items: center;
}

.list__delete {
	fill: var(--clr-accent);
	cursor: pointer;
}

.lists__title,
.list__title {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 2em;
	word-break: break-word;
}

.lists__title {
	padding: 0.75rem;
}

/* TODO GENERAL */

@media only screen and (min-width: 768px) {
	.content__container {
		margin-left: var(--sidebar-width);
	}
}

.todo__section {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 2em;
}

.todo__heading-container {
	width: 100%;
	background-color: var(--bg-primary);
}

@media only screen and (min-width: 768px) {
	.todo__heading-container {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.todo__empty,
.lists__empty {
	padding: 2em 0em;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

.todo__container {
	width: 100%;
}

/* TODO INPUT */
.todo__form,
.lists__form {
	display: flex;
	align-items: center;
	width: 100%;
}

.todo__form {
	padding: 0.5rem 0;
}

.lists__form {
	padding: 0.25rem 0.75rem;
}

.todo__input,
.lists__input {
	width: 100%;
	padding: 0.5em;
	font-size: 1.25em;
	font-family: var(--ff-family);
	color: white;
	background-color: transparent;
	border: 1px solid var(--clr-primary-light);
	border-radius: 0.5em;
	outline: none;
	transition: border-color 150ms, box-shadow 150ms ease;
}

.todo__input:focus,
.lists__input:focus {
	border-color: var(--clr-accent);
	box-shadow: 0 0 0 0.1em var(--clr-accent-a25);
}

.todo__btn,
.lists__btn {
	display: flex;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	transition: transform 150ms ease-in-out;
}

.todo__btn:hover,
.todo__btn:focus,
.lists__btn:hover,
.lists__btn:focus {
	transform: scale(1.05);
}

.todo__btn:active,
.lists__btn:active {
	transition-duration: 0ms;
	transform: scale(1.1);
}

.todo__btn:hover .todo__btn-icon,
.todo__btn:focus .todo__btn-icon {
	fill: var(--clr-accent-dark);
}

.todo__btn-icon,
.lists__btn-icon {
	width: 3.5em;
	height: 3.5em;
	fill: var(--clr-accent);
	transition: fill 150ms ease-in-out;
}

/* TODO LIST */

.todo__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.todo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 1em 0em;
	padding: 1em;
	font-size: 1.2em;
	background-color: var(--clr-primary-light);
	border-radius: 0.5em;
}

.fade-in {
	animation: fadeIn 150ms ease-in-out forwards;
}

.fade-out {
	animation: fadeOut 150ms ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		visibility: hidden;
	}

	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		visibility: visible;
	}

	to {
		opacity: 0;
		visibility: hidden;
	}
}

.todo__icon {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0em 0.5em 0em 0em;
}

.todo__label {
	display: flex;
	cursor: pointer;
	position: relative;
}

.todo__text {
	position: relative;
	word-break: break-word;
}

.todo__text::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background-color: currentColor;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 150ms ease-in-out;
}

.todo__checkbox {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 0;
}

.todo__checkbox:focus + label .todo__check {
	transform: scale(1.1);
}

.todo__checkbox:checked + label .todo__text {
	color: hsla(0, 0%, 100%, 0.5);
}

.todo__checkbox:checked + label .todo__text::after {
	transform: scaleX(1);
	transform-origin: left;
}

.todo__checkbox:checked + label .todo__check--blank {
	display: none;
}

.todo__checkbox:not(:checked) + label .todo__check--blank {
	display: block;
}

.todo__checkbox:checked + label .todo__check--checked {
	display: block;
}

.todo__checkbox:not(:checked) + label .todo__check--checked {
	display: none;
}

.todo__controls {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	margin-left: auto;
}

.todo__icon--controls {
	margin: 0;
	cursor: pointer;
	transition: visibility 150ms, opacity 150ms ease;
}

@media only screen and (min-width: 768px) {
	.todo__icon--controls {
		visibility: hidden;
		opacity: 0;
	}
}

.todo__icon--controls > svg {
	fill: var(--clr-primary-dark);
}

@media only screen and (min-width: 768px) {
	.todo:hover .todo__icon--controls {
		visibility: visible;
		opacity: 1;
	}
}

.todo__check {
	fill: var(--clr-accent);
	cursor: pointer;
	user-select: none;
	transition: transform 150ms ease-in-out;
}

.up-button {
	position: fixed;
	bottom: 2.5%;
	right: 2.5%;
	width: 3em;
	height: 3em;
	border: 0;
	outline: 0;
	background-color: var(--clr-accent);
	border-radius: 100%;
	cursor: pointer;
	transition: background-color 150ms ease-in-out;
	box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.up-button:hover,
.up-button:focus-visible {
	background-color: var(--clr-accent-dark);
}

.up-button__icon {
	width: 100%;
	height: 100%;
	fill: var(--clr-primary);
}
